<h1 class="text-5xl font-bold text-gray-800">Tasks to do...</h1>
<form action="#" [formGroup]="taskForm">
  <table class="mx-2 my-5">
    <tr class="h-10">
      <td class="pr-4">Description:</td>
      <td><textarea class="rounded-md border-gray-200 border-solid border-2" name="description" id="description" cols="30" rows="5" formControlName="description"></textarea></td>
    </tr>
    <tr class="h-10">
      <td>Priority</td>
      <td class="grid grid-cols-3 h-10">
        @for (p of priorities; track $index) {
          <div class="content-center">
            <input class="" [value]="p" type="radio" name="priority" [id]="p" formControlName="priority">
            <label class="ml-2" [for]="p">{{ p }}</label>
          </div>
        }
      </td>
    </tr>
    <tr class="h-10">
      <td>Due date</td>
      <td><input type="date" name="due-date" id="due-date" formControlName="dueDate"></td>
    </tr>
  </table>
  <button class="rounded-md bg-blue-500 p-2 ml-2 text-white" [disabled]="!this.taskForm.valid" type="submit" (click)="onSubmit(); addTask()">Add Task</button>
</form>
